<div class="quien-soy-div">
  <img [src]="getAvatarUrl('users/5DS_9664-Mejorado-NR.png')" alt="Foto de {{ nombre }}" class="foto-perfil" />
  <div class="info-personal">
    <h2>¿Quién Soy?</h2>
    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Edad:</strong> {{ edad }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Profesión:</strong> {{ profesion }}</p>
    <p><strong>Biografía:</strong></p>
    <p> {{ biografia }}</p>
    <br>
    <p> {{ miJuego }}</p>
    <br>
    <p><strong>"ESPERO QUE DISFRUTES MIS JUEGOS"</strong></p>
  </div>
</div>
