<div *ngIf="usersdata" class="datos-usuario-contenedor">
    <div class="logout-contenedor">        
        <h2 class="h2"> Datos del usuario</h2>
        <button *ngIf= mostrarBotonHome() (click) = navigateToHome() class="log-out">Home</button>
        <button (click) = logout() class="log-out">Log out</button>
    </div>
    <table class="table ">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ usersdata.name }}</td>
                <td>{{ usersdata.age }}</td>
                <td>
                    <img class="avatar" [src]="getAvatarUrl(usersdata.avatarUrl)" alt="Foto de usuario">
                </td>
            </tr>
        </tbody>    
    </table>
</div>
<div *ngIf="!usersdata" class="login-container">
    <button (click) = navigateTologin() class="log-out">Sign in/Sign up</button>
</div>
<div *ngIf="mostrarDatos()" class="home-container">
    <h1>🎮 Bienvenido a la Sala de Juegos</h1>
    
    <p class="chat-titulo">¡Unite al chat con otros jugadores!</p>


    <img
        src="https://cdn-icons-png.flaticon.com/512/471/471664.png"
        class="chat-button-img"
        alt="Entrar al chat"
        (click)="navigateToChat()"
    />
</div>

<router-outlet></router-outlet>

