<div class="ahorcado-container">
  <h2>Ahorcado</h2>

  <div class="top3-container">
  <h3 class="top3-title">Top 3 Jugadores</h3>
  
  <div class="top3-list-container">
    <div class="top3-headers">
      <span class="top3-header-rank">Puesto</span>
      <span class="top3-header-name">Nombre</span>
      <span class="top3-header-score">Puntaje</span>
    </div>
    
    <ul class="top3-list">
      <li *ngFor="let item of top3; let i = index" class="top3-item">
        <span class="top3-rank">{{ i + 1 }}</span>
        <span class="top3-name">{{ item.nombre }}</span>
        <span class="top3-score">{{ item.score }}</span>
      </li>
    </ul>
    </div>
  </div>
  
  <div class="palabra">
    <span *ngFor="let letra of letrasPalabra">
      {{ letrasAdivinadas.includes(letra) ? letra : '_' }}
    </span>
  </div>

  <div class="intentos">
    Intentos restantes: {{ intentosRestantes }}
  </div>

  <div class="teclado">
    <button
      *ngFor="let l of abecedario"
      [disabled]="letraUsada(l) || juegoTerminado"
      (click)="intentar(l)">
      {{ l }}
    </button>
  </div>

  <div class="mensaje" *ngIf="juegoTerminado">
    <p *ngIf="juegoGanado" class="ganado">¡Ganaste! 🎉 </p>
    <p *ngIf="juegoGanado" class="puntuacion">Puntuacion actual: {{score}}</p>
    <p *ngIf="!juegoGanado" class="perdido">Perdiste 😵 La palabra era: {{ palabraOculta }} </p>
    <p *ngIf="!juegoGanado" class="puntuacion">Tu puntuacion fue: {{ultimoScore}}</p>
    <button class="btn-volver" (click)="reiniciarJuego()">Jugar de nuevo</button>
  </div>
</div>